<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>DESKTOP-EPTTBPH</name>
  <description></description>
  <remoteFS>C:\Users\Vika\AppData\Local\Jenkins\.jenkins\slave</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.JNLPLauncher">
    <workDirSettings>
      <disabled>false</disabled>
      <internalDir>remoting</internalDir>
      <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
    </workDirSettings>
    <webSocket>false</webSocket>
  </launcher>
  <label>win10 x64 chrome</label>
  <nodeProperties/>
</slave>